VITE_APP_NAME=
VITE_BASE_URL=
VITE_API_URL=

VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_REDIRECT_URI=

# Google OAuth App Settings
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=

#secret for localstorage key and value
VITE_STORAGE_SECRET=
