VITE_APP_NAME=OPOM Portfolio
VITE_BASE_URL=http://localhost:5173
VITE_API_URL=https://api.one-project-one-month.com

VITE_GITHUB_CLIENT_ID=Ov23likErD49xewvykBl
VITE_GITHUB_REDIRECT_URI=https://www.one-project-one-month.com/login/oauth2/code/github

# Google OAuth App Settings
VITE_GOOGLE_CLIENT_ID=686561903051-a857ngoihbsfo2u5g1b3e9dh9uiljshb.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=https://www.one-project-one-month.com/auth/sign-up

#secret for localstorage key and value
VITE_STORAGE_SECRET=b730c7c1ea7dd617b03616794078be09e54676ef
